@use 'variables' as *;

.skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    background: $background-light;
    color: $secondary-color;
    padding: 8px 16px;
    z-index: 100;
    border: none;
    outline: none;
    cursor: pointer;
  
    &:focus {
      top: 10px;
      transition: top 0.3s ease;
    }
  }